<div class="container">
  <% posts.each do |post| %>
    <div class="block">
      <div class="box">
        <article class="message is-grey-darker">
          <div class="message-header">
            <h5 class="title is-5 has-text-light"><%= post.title %></h5>
          </div>
          <div class="message-body">
            <p class="content is-medium">
              <%= post.body %>
            </p>
          </div>
        </article>
        <footer class="post-box-footer">
          <% if user_signed_in? %>
            <%= "- #{post.user.name}" %>
          <% else %>
            <p class="anonymous-name">- Anonymous</p>
          <% end %>
        </footer>
      </div>
    </div>
  <% end %>
</div>
