<%# Index can be considered the "main page" %>
<div class="index-page">
  <% if user_signed_in? %>
    <%= render 'form', post: @post %>
  <% end %>
  <%= render 'secrets', posts: @posts %>
  <%# recent %>
</div>
